{% extends "layout.html" %}

{% block script %}
  <script src="{{url_for("static", filename="alert-remove.js")}}"></script>
  <script src="{{url_for("static", filename="form-validate.js")}}"></script>
{% endblock %}

{% block title %}
  Buy
{% endblock %}

{% block main %}
  <form class="validation-required" novalidate action="/buy" method="post">
    <div class="form-group">
      <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text" required>
      <div class="invalid-feedback">Enter a valid stock</div>
    </div>
    <div class="form-group">
      <input class="form-control" name="shares" placeholder="Shares" type="number" min="1" required>
      <div class="invalid-feedback">Enter a valid quantity</div>
    </div>
    <button class="btn btn-primary" type="submit">Buy</button>
  </form>
{% endblock %}