{% extends "layout.html" %}

{% block script %}
  <script src="{{url_for("static", filename="alert-remove.js")}}"></script>
{% endblock %}

{% block title %}
  Portfolio
{% endblock %}

{% block main %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-left">Symbol</th>
        <th scope="col" class="text-left">Name</th>
        <th scope="col" class="text-left">Shares</th>
        <th scope="col" class="text-left">Price</th>
        <th scope="col" class="text-left">Variation</th>
        <th scope="col" class="text-left">TOTALS</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td class="text-left">{{ transaction.stock }}</td>
        <td class="text-left">{{ transaction.name }}</td>
        <td class="text-left">{{ transaction.quantity }}</td>
        <td class="text-left {{ transaction.price_indicator }}">{{ transaction.price|usd }}</td>
        <td class="text-left {{ transaction.price_indicator }}">{{ transaction.variation|percentage }}</td>
        <td class="text-left">{{ transaction.amount|usd }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td class="text-left">CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-left">{{ cash|usd }}</td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <th class="text-left">{{ grand_total|usd }}</th>
      </tr>
    </tbody>
  </table>
{% endblock %}