{% extends "layout.html" %}

{% block script %}
  <script src="{{url_for("static", filename="alert-remove.js")}}"></script>
  <script src="{{url_for("static", filename="form-trigger.js")}}"></script>
{% endblock %}

{% block title %}
  Portfolio
{% endblock %}

{% block main %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-left">Symbol</th>
        <th scope="col" class="text-left">Name</th>
        <th scope="col" colspan="3" class="text-center">Shares</th>
        <th scope="col" class="text-right">Price</th>
        <th scope="col" class="text-center">Variation</th>
        <th scope="col" class="text-right">TOTALS</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr id="{{ transaction.stock }}" data-transaction="{{ transaction }}">
        <td class="text-left align-middle">{{ transaction.stock }}</td>
        <td class="text-left align-middle">{{ transaction.name }}</td>
        <td><button class="btn btn-light align-middle" type="submit" value="-">-</td>
        <td class="text-center align-middle quantity">{{ transaction.quantity }}</td>
        <td><button class="btn btn-light align-middle" type="submit" value="+">+</td>
        <td class="text-right align-middle price">{{ transaction.price|usd }}</td>
        <td class="text-center align-middle variation {{ transaction.price_indicator }}">{{ transaction.variation|percentage }}</td>
        <td class="text-right align-middle amount">{{ transaction.amount|usd }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td class="text-left">CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td id="td-cash" class="text-right table-warning">{{ cash|usd }}</td>
      </tr>
      <tr>
        <td colspan="7"></td>
        <th id="th-total" class="text-right" data-grand_total="{{ grand_total }}">{{ grand_total|usd }}</th>
      </tr>
    </tbody>
  </table>
{% endblock %}