{% extends "layout.html" %}

{% block script %}
  <script src="{{url_for("static", filename="alert-remove.js")}}"></script>
  <script src="{{url_for("static", filename="form-validate.js")}}"></script>
{% endblock %}

{% block title %}
  Log In
{% endblock %}

{% block main %}
  <form class="validation-required" novalidate action="/login" method="post">
    <div class="form-group">
      <input class="form-control" autocomplete="off" autofocus  name="username" placeholder="Username" type="text" required>
      <div class="invalid-feedback">Provide a username</div>
    </div>
    <div class="form-group">
      <input class="form-control" name="password" placeholder="Password" type="password" required>
      <div class="invalid-feedback">Provide a password</div>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
  </form>
{% endblock %}