{% extends "layout.html" %}

{% block script %}
  <script src="{{url_for("static", filename="alert-remove.js")}}"></script>
{% endblock %}

{% block title %}
  Sell
{% endblock %}

{% block main %}
  <form action="/sell" method="post">
    <div class="form-group">
      <div class="col-md-2 mx-auto">
        <select class="custom-select" name="symbol">
          <option disabled selected>Symbol</option>
          {% for stock in stocks %}
            <option value="{{ stock.stock }}">{{ stock.stock }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" name="shares" placeholder="Shares" type="number" min="1">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
  </form>
{% endblock %}